nav{
    background-color: var(--azul) !important;
}

.logo{
    width: 70px;
}

.titulo{
    font-weight: bold;
    color: var(--branco) !important;
    font-size: 40px !important;
    font-family: var(--fonte-principal);
}

.item{
    color: var(--branco) !important;
    font-size: 20px !important;
    font-family: var(--fonte-secundario);
}